@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400,700&display=swap');


body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}
.offset::before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}

/* NAVIGATION */
.navbar{
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6) !important;
}
.navbar-brand img{
    height: 2rem;
}
.navbar-nav li {
    padding-right: .7em;
}
.navbar-dark .navbar-nav .nav-link{
    padding-top: .8rem;
    color: white;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
     
}
/* start of the landing page */

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    margin-top: 28%;
    z-index: 1;
    color:white;
}
.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
    
}
.caption h3{
    font-size: 2rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1.6rem;
}
.btn-lg{
    border-width: medium;
    border-radius: 0;
    padding:  .6rem 1.3rem;
    font-size: 1.1rem;
}
/* COURSE SECTION STYLING */
.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
    

}
.home-inner{
    background: url(images/computers.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.narrow h1{
    font-size: 2.4rem;
}

.btn-secondary{
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: 1rem;
    color: white;
    background-color: #1ebba3;
    border-color: #1ebba3;

}
.btn-secondary:hover{
    background-color: #189582;
    border-color: #189582;
}
.jumbotron{
margin-bottom: 0;
padding: 2rem 0 3.5rem;
border-radius: 0;
}
h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}
.heading-underline{
    width: 3rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}
  .fa{
    color: #1ebba3;
}
.feature h3{
font-size: 1.3rem;
padding-bottom: .4rem;
}
.feature p{
font-size: 1.1rem;
}
/* RESOURCES SESSION */
.fixed-background{
    background: url(images/apple.png);
    z-index: -1;
    
}
.dark{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 7rem 2rem;
}
.fixed-background h3{
margin-bottom: 2rem;

}
.fixed-background p{
margin-top: 1.5rem;
}
/* CLIENT SESSION */
.clients img{
    width: 100%;
    border-radius: 50%;
}
.gg {
    margin: 1rem .5rem;
}
.clients-hr{
border-top: .05rem solid #1ebba3;
}
.usd{
    background-color: white;
    padding: 5rem 0;
    height: 200%;
    margin-bottom: 0;
}
/* CONTACT SESSION ##################################### */
footer{
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 0;

}
footer img{
    height: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
    
}
footer a{
    color: white;
    
}
footer .hh{
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
    color: white;
}
footer .hh:hover{
    color: #1ebba3 !important;
}
hr.socket{
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;
} 
#features{
    margin-top: 0;
}

@media (max-width: 767px) {
    .caption{
        width: 100%;
        max-width: 100%;
        position: absolute;
        margin-top: 30%;
        z-index: 1;
        color:white;
    }
    .caption h1{
        font-size: 2.3rem;
       
        letter-spacing: .15rem;
      
        padding-bottom: .5rem;
        
    }
    .caption h3{
        font-size: 1.2rem;
      
        padding-bottom: 1.2rem;
    }
    .btn-lg{
      
       
        padding:  .3rem 1rem;
        font-size: 1rem;
    } 
    .clients img{
        height: 100%;
        width: 50%;
        border-radius: 50%;
    }

}
@media (max-width: 600px) {
    .usd h1{
        font-size: 1.6rem !important;
        font-weight: 600;
       
    } 
    .usd p{
        font-size: 1.1rem;
    }  
    .caption{
      
        margin-top: 60%;
       
    }
}
