*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'montserrat' sans-serif;
}
nav{
    background-color:#0082e6 ;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
label{
    font-size: 30px;
    font-weight: bold;
}
p{
    font-size: 24px;
    line-height: 1.2;
}
article p{
    font-size: 26px;
    padding: 20px;
}

.row {
    width: 100%;
    display: flex;
    /* it takes the content and wrap it around */
    flex-wrap: wrap;
    align-items: center;
    

}
.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
label.logo{
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 100px;
    line-height: 80px;
    
}

h1.large {
    color: white;
    font-size: 35px;
    margin: 0;
    line-height: 70px;
}
button{
    font-size: 28px;
    font-weight: 700;
    color: white;
    background-color: blue;
    padding: 12px 50px;
    display: block;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
    
}
button.learnmore{
    margin: auto;
    margin-bottom: 50px;
}
div.box{
    background-color: white;
    text-align: center;
    margin: 20px;
    padding: 30px 20px 36px 20px;
    border-radius: 7px;
    
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
    0 2px 3px 0 rgba(0,0,0,.1);
}
/* ###### */
.dropbtn{
    background-color:  #0082e6;
    color: white;
    padding: 16px;
    border: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.2);
    z-index: 1;

}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color:#2c3e50;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color:   #0082e6;
}
.dropbtn a{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.dropdown{
    display: none;
}




/* ############### */
nav .container ul {
    float: right;
    margin-right: 20px;
    
}
nav .container ul li{
    display:inline-block;
    line-height: 80px;
    color: white;
    margin: 0 5px;
    
}
nav .container ul li a{
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;


}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;

}



 .fa-bars a{
    color: white;
    float: right;
    padding: 10px 15px;
    margin-top: 20px;
}

@media (max-width:650px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    ul{
        display: none;

    }
    .dropdown{
        display: block;
        
        
    }
    .dropdown .dropbtn{
        font-size: 20px;
        text-transform: uppercase;
        line-height: 45px;
    }
    .dropdown .dropdown-content{
        text-transform: uppercase;
        
        background-color: #2c3e50;
        justify-content: center;
        align-items: center;
    }
    .dropdown .dropdown-content a{
        color: white;
    }
    .dropdown .dropdown-content a:hover{
        background-color: #0082e6;
    }

}
.containers{
    width: 100%;
    margin: auto;
    /* padding will give it space between the two diifrent
    boxlines which helps seperate our sections instead of using
    hr */
    padding-top: 4%;
    padding-bottom: 4%;
}
/* for the section 1 custom styles */
#section-1-gradient{

    
        background: linear-gradient(#1b9bff,#0082e6);
}
 div .leftside-col{
    margin-left: 30%;
}
form h2{
    color: white;
}
input[type="text"]{
        font-size: 20px;
        width: 400px;
        min-width: 100px;
       padding: 5px; 
       border-radius: 7px;
}
div .rightside-col{
    margin-left: 15%;
    
}
footer.footsy{
    background-color: black;
    padding-left: 10%;
}
footer.footsy h1{
    font-size: 28px;
    color: yellow;
}
footer.footsy ul{
    list-style: none;
    text-align: left;
    
}
footer.footsy ul li{
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}
@media (max-width:650px){
.col-6,
.col-5,
.col-7,
.col-4{
    width: 100%;
    margin: 0;  
}
div .mobilestack{
    width: 50%;
    display: block;
}
article p{
    font-size: 20px;
}
footer.footsy ul{
    display: block;
}

div.articleicon{
    margin: 10px;
}
div.articleicon img {
    width: 100%;
    
}
h1.section2header{
    font-size: 20px;
}
div .box{
    padding: 5px;
    display: block;
}
div .rightside-col,
div .leftside-col{
    margin: 15px;
}

input[type="text"] {
    width:350px
}
.videocontainer iframe{
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
}


}
h1.section2header{
    text-align: center;
    font-size: 40px;
}
div .icon{
width: 100%;

}
div .articleicon img{
    display: block;
    margin: auto;
    box-shadow: -2px -2px 5px 2px rgba(0,0,0,.15)
    , 2px 2px 4px 2px rgba(0,0,0,1);
}